html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	width: 100%;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}

body {
	background: #eeeeee;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, #ffffff), color-stop(45%, #ffffff), color-stop(68%, #ffffff), color-stop(100%, #ebe6eb));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 45%, #ffffff 68%, #ebe6eb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe6eb', GradientType=1 );
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:16px;
	font-family: 'gotham_boldregular', Arial, sans-serif;
	color: #fff;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham-bold-webfont.eot');
    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/******** BLOQUE INTRO, PRESENTACIÓN, MENÚ, CABECERAS Y AVISO *********/


/* PROGRESS */

#progress-wrapper {
	width: 100%;
	height:10px;
	background:#fff;
	background-color: rgba(255,255,255,0.8);
	top:0;
	z-index:200;
}

#progress {
	height:70%;
	background:#33a9dc;
	top:0;
	z-index:201;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

/* AVISO */

#aviso-wrapper {
	width: 100%;
	height: 35px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
}

#aviso-wrapper #aviso {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
}

#aviso a {
	color: #000;
	text-decoration: none;
	font-family: 'gotham_boldregular', Arial, sans-serif;
}

#aviso a:hover {
	color: #ccc;
}

.btn-cerrar {
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-top: 6px;
	float: right;
	right: 0px;
	background-image: url(../images/icon-cerrar.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.btn-cerrar:hover {
	background-position: 0px -23px;
}

/* MENU */

#navegacion {
	width: 146px;
	height: 200px;
	right: 20px;
	text-align: center;
}

#navegacion .nav-home{
	width: 100px;
	height: 50px;
	cursor: pointer;
	background-image: url(../images/ico-home.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-home:hover{
	background-position: 30px -50px;
}

#navegacion .nav-problema{
	width: 100px;
	height: 50px;
	cursor: pointer;
	background-image: url(../images/ico-lupa.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-problema:hover{
	background-position: 30px -50px;
}


#navegacion .nav-tratamiento{
	width: 100px;
	height: 50px;
	cursor: pointer;
	background-image: url(../images/ico-pastilla.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-tratamiento:hover{
	background-position: 30px -50px;
}

#navegacion .nav-unete{
	width: 100px;
	height: 50px;
	cursor: pointer;
	background-image: url(../images/ico-lapiz.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-unete:hover{
	background-position: 30px -50px;
}

#navegacion .nav-medidas{
	width: 100px;
	height: 50px;
	cursor: pointer;
	background-image: url(../images/ico-pez.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-medidas:hover{
	background-position: 30px -50px;
}


#navegacion-roll {
	width: 146px;
	height: 200px;
	right: 130px;
	text-align: center;
}

#navegacion-roll .nav-text{
	width: 100%;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	cursor: pointer;
	text-align: right;
	font-family: 'gotham_boldregular', Arial, sans-serif;
}

#navegacion-roll #nav-r-home{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-problema{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-tratamiento{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-unete{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-medidas{
	visibility: hidden;
	opacity: 0;
}

#menu {
	width: 146px;
	height: 200px;
	right: 20px;
	text-align: center;
}

#menu .social{
	width: 146px;
	text-align: center;
}

.btn-fb{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	background: url(../images/icon-fb.png) no-repeat;
	background-position: 0px 0px;
}

.btn-fb:hover{
	background-position: 0px -22px;
}

.btn-twitter{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	background: url(../images/icon-twitter.png) no-repeat;
	background-position: 0px 0px;
}

.btn-twitter:hover{
	background-position: 0px -22px;
}

.btn-gplus{
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0 auto;
	background: url(../images/icon-gplus.png) no-repeat;
	background-position: 0px 0px;
}

.btn-gplus:hover{
	background-position: 0px -22px;
}

.btn-pinterest{
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0 auto;
	background: url(../images/icon-pinterest.png) no-repeat;
	background-position: 0px 0px;
}

.btn-pinterest:hover{
	background-position: 0px -22px;
}

.btn-home{
	display: inline-block;
	width: 30px;
	height: 22px;
	background: url(../images/icon-home.png) no-repeat;
	background-position: 8px 0px;
	border-left: 1px solid #000;
}

.btn-home:hover{
	background-position: 8px -22px;
}

#menu #btn-unete{
	display: block;
	width: 146px;
	height: 47px;
	text-align: center;
	font-size: 13px;
	line-height: 23px;
	color: #fff;
	text-decoration: none;
	margin-top: 10px;
	background-image:url(../images/btn-unete.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#menu #btn-unete:hover{
	color: #fff;
	background-position: 0px -47px;
}

#intro {
	width:100%;
	height: 685px;
	top:35px;
	text-align: center;	
}

#intro .video-wrapper{
	width: 100%;
	height: 580px;
	background: #000;
	text-align: center;
	border-bottom: 7px solid #000;
}

#intro .video-wrapper iframe,
#intro .video-wrapper object,
#intro .video-wrapper embed {
    max-width: 1080px;
    max-height: 580px;
    width: 100%;
    height: 100%;
}

.titulo{
    width: 100%;
    height: 99px;
    text-align: center;
}

.titulo-presentando{
    width: 100%;
    height: 22px;
    text-align: center;
}

.titulo-cab{
    width: 100%;
    height: 130px;
    padding-top: 15px;
    text-align: center;
    background: #fff;
}

#retrato {
    width: 100%;
}

#retrato #foto{
    width: 182px;
    height: 181px;
    position: relative;
    margin: 0 auto;
    background-image:url(../images/arias-foto-1.png);
	background-repeat: no-repeat;
}

#retrato .body-wrapper,
#resolucion .body-wrapper,
#slider .body-wrapper{
	max-width: 900px;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#retrato .body-wrapper .body,
#resolucion .body-wrapper .body{
   	max-width: 900px;
    width: 100%;
    height: auto;
    position: absolute;
    font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
}


.desplegable-btn {
	width: 150px;
	height: 35px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    right: 41%;
	background-image:url(../images/btn-plus.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.desplegable-btn:hover {
	background-position: 0px -35px;
}

.desplegable-recordar-btn {
	width: 150px;
	height: 35px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    right: 127px;
	background-image:url(../images/btn-plus.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.desplegable-recordar-btn:hover {
	background-position: 0px -35px;
}

.desplegable-body {
	width: 653px;
	height: 345px;
	
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 0;
    margin-left: 12%;
    text-align: left;
    
    background: #f1f1f1;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    
    -webkit-box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
}

.desplegable-text {
	display: inline-block;
	width: 270px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #000;
    font-size: 11px;
    line-height: 18px;
	margin-top: 35px;
	margin-left: 35px;
	padding: 0;
	text-align: justify;
}

.desplegable-icono-1 {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-left: 5px;
	background-image:url(../images/desplegable-icono-1.png);
	background-repeat: no-repeat;
}

.desplegable-icono-2 {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-left: 5px;
	background-image:url(../images/desplegable-icono-2.png);
	background-repeat: no-repeat;
}

.desplegable-titulo {
	display: inline-block;
	width: 200px;
	font-family: 'gotham_boldregular', Arial, sans-serif;
	font-size: 22px;
	text-align: left;
	line-height: 20px;
}

.desplegable-cerrar {
	width: 19px;
	height: 19px;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	background-image:url(../images/btn-cerrar.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.desplegable-cerrar:hover {
	background-position: 0px -19px;
}

#unete {
    width: 100%;
    height: 550px;
}

.formulario-msg {
    width: 650px;
    height: 0;
    margin: 0 auto;
}

.ventana {
    z-index: 90;
    position: absolute;
    opacity: 0;
}

.ventana-msg {
	width: 260px;
    height: auto;
    font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 11px;
    color: #fff;
    padding: 10px;
    background: #000;
    text-transform: uppercase;
    text-align: center;
}

.ventana-flecha {
	width: 18px;
	height: 15px;
	margin-left: 15px; 
    background-image: url(../images/msg-flecha.png);
    background-repeat: no-repeat;
	background-position: 0px 0px;
}

#productos-wrapper{
	width: 100%;
	height: 70px;
	margin: 0 auto;
	text-align: center;
}
#productos-wrapper .producto {
	display: inline-block;
	width: 100px;
	height: 70px;
	margin-right: 8px;
	text-align: center;
}


#firmasMemoriaDePez {
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#firmasMemoriaDePez .btn{
	width: 100px;
	height: 26px;
	
	float: right;
	margin-bottom: 25px;
	
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    
    border: 1px solid #fff;
    cursor: pointer;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(23%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	
    -webkit-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
}

#firmasMemoriaDePez .btn:hover{
    background: #fff;
}

#EligeTratamiento {
	margin-top: 10px;
	margin-bottom: 15px;
}

#EligeTratamiento legend,
#unete .subtitulo{
	clear: both;
	max-width: 650px;
	width: 100%;
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #fff;
    font-size: 21px;
    margin: 0 auto;
}

        
#EligeTratamiento label {
	display: inline-block;
	width: 70px;
	height: 20px;
	cursor: pointer;
	position: relative;
	margin-top: 20px;
	padding-top: 75px;
	padding-left: 5px;
	padding-bottom: 0px;
	margin-right: 8px;
	text-align: left;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 12px;
}

.sobres {
	background: url(../images/f-producto-2.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.supositorios {
	background: url(../images/f-producto-1.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.enjuague {
	background: url(../images/f-producto-2.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.crema {
	background: url(../images/f-producto-3.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.champu {
	background: url(../images/f-producto-5.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.suero {
	background: url(../images/f-producto-6.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}


#EligeTratamiento input[type=radio] {
	
}
#EligeTratamiento label:before {
	content: "";
	display: inline-block;

	width: 0px;
	height: 0px;
	margin-right: 0px;
	position: absolute;
	left: 0;
	bottom: 1px;
}

#EligeTratamiento label:before {
	
}
        
#EligeTratamiento input[type=radio]:checked + label:before {
    
}

#TratamientoUsuario {
	max-width: 250px;
	width: 38%;
	float: left;
	margin: 0;
	padding: 0;
}

#TratamientoUsuario label {
	display: block;
	width: 100%;
	cursor: pointer;
	position: relative;
	margin-top: 15px;
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #fff;
	font-size: 14px;
}

#TratamientoUsuario input {
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 5px;
	padding-left: 25px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 14px;
	border: 1px solid #fff;
	background: #fff;
	background-color: rgba(255,255,255,0.1);
	border-radius: 0;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #fff;
}
*:-moz-placeholder {
  color: #fff;
}
*:-ms-input-placeholder { /* IE10+ */
  color: #fff;
}  

#TratamientoUsuario .privacidad {
	margin-top: 30px;
}

#TratamientoUsuario .privacidad label {
	display: inline;
	max-width: 260px;
	width: 100%;
	height: 20px;	
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
#TratamientoUsuario .privacidad input{
	display: inline;
	width:20px;
	height:15px;
	margin: 0;
	padding: 0;
}


#consulta {
	clear: both;
	display: block;
	width: 250px;
	float: left;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 25px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 13px;
}

#consulta a {
    color: #fff;
}

#consulta a:hover {
    color: #000;
}


#peticion {
	max-width: 320px;
	width: 48%;
	float: right;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 13px;
	padding: 5px 15px 5px 15px;
	margin-top: 34px;
	margin-left: 20px;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.1);
}

#retrato .body-wrapper .body b{
    font-family: 'gotham_boldregular', Arial, sans-serif;
}

#retrato #pecera {
    max-width: 900px;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#retrato #pecera #pez-pregunta{
    width: 171px;
    height: 87px;
	position: absolute;
	background-image:url(../images/retrato-pez-pregunta.png);
	background-repeat: no-repeat;
}

#retrato #pecera #pez-respuesta{
    width: 171px;
    height: 87px;
    position: absolute;
	background-image:url(../images/retrato-pez-respuesta.png);
	background-repeat: no-repeat;
}

#nube-d-1{
    width: 262px;
    height: 148px;
    top: 746px;
    right: 153px;
    background-image:url(../images/nube-d-1.png);
}

#nube-d-2{
    width: 115px;
    height: 74px;
    top: 86px;
    right: 327px;
    background-image:url(../images/nube-d-2.png);
}

#nube-d-3{
    width: 371px;
    height: 183px;
    top: 589px;
    right: 157px;
    background-image:url(../images/nube-d-3.png);
}

#nube-d-4{
    width: 111px;
    height: 75px;
    top: 589px;
    right: 157px;
    background-image:url(../images/nube-d-4.png);
}


#nube-i-1{
    width: 99px;
    height: 61px;
    top: 204px;
    left: 229px;
    background-image:url(../images/nube-i-1.png);
}

#nube-i-2{
    width: 186px;
    height: 104px;
    top: 247px;
    left: 97px;
    background-image:url(../images/nube-i-2.png);
}

#nube-i-3{
    width: 313px;
    height: 152px;
    top: 629px;
    left: 75px;
    background-image:url(../images/nube-i-4.png);
}


.mar{
    width: 100%;
    height: 770px;
    overflow: hidden;
}

.mar-no-b{
    width: 100%;
    height: 800px;
    overflow: hidden;
}



.peces-banco{
    width: 254px;
    height: 165px;
    margin-top: 500px;
    background-image:url(../images/peces-banco.png);
}

.peces-banco-2{
    width: 187px;
    height: 85px;
    margin-top: 250px;
    background-image:url(../images/peces-banco-2.png);
}

.pez-1{
    width: 171px;
    height: 79px;
    margin-top: 250px;
    background-image:url(../images/pez-1.png);
}

.pez-2{
    width: 171px;
    height: 79px;
    margin-top: 340px;
    background-image:url(../images/pez-1.png);
}

.pez-3{
    width: 171px;
    height: 79px;
    margin-top: 420px;
    background-image:url(../images/pez-1.png);
}

.pez-atun{
    width: 170px;
    height: 93px;
    margin-top: 230px;
    background-image:url(../images/pez-atun.png);
}

.pez-doble{
    width: 297px;
    height: 107px;
    margin-top: 550px;
    background-image:url(../images/pez-doble.png);
}

.medusa{
    width: 104px;
    height: 128px;
    background-image:url(../images/medusa.png);
}

.ola-1{
    width: 2566px;
    height: 907px;
    left: -100px;
    background-image:url(../images/ola-1.png);
    
    -webkit-animation: wave 8s 0.1s infinite linear;
    -moz-animation: wave 8s 0.1s infinite linear;
    animation: wave 8s 0.1s infinite linear;
}

.ola-2{
    width: 2506px;
    height: 907px;
    left: -120px;
    background-image:url(../images/ola-2.png);
    
    -webkit-animation: wave 7s 0.1s infinite linear;
    -moz-animation: wave 7s 0.1s infinite linear;
    animation: wave 7s 0.1s infinite linear;
}

.ola-3{
    width: 2368px;
    height: 907px;
    left: -100px;
    background-image:url(../images/ola-3.png);
    
    -webkit-animation: wave 6s 0.1s infinite linear;
    -moz-animation: wave 6s 0.1s infinite linear;
    animation: wave 6s 0.1s infinite linear;
}

.mini-ola-1{
    width: 2566px;
    height: 402px;
    left: -100px;
    background-image:url(../images/mini-ola-1.png);
    
    -webkit-animation: wave 8s 0.1s infinite linear;
    -moz-animation: wave 8s 0.1s infinite linear;
    animation: wave 8s 0.1s infinite linear;
}

.mini-ola-2{
    width: 2506px;
    height: 907px;
    left: -120px;
    background-image:url(../images/ola-2.png);
    
    -webkit-animation: wave 7s 0.1s infinite linear;
    -moz-animation: wave 7s 0.1s infinite linear;
    animation: wave 7s 0.1s infinite linear;
}

.mini-ola-3{
    width: 2368px;
    height: 907px;
    left: -100px;
    background-image:url(../images/ola-3.png);
    
    -webkit-animation: wave 6s 0.1s infinite linear;
    -moz-animation: wave 6s 0.1s infinite linear;
    animation: wave 6s 0.1s infinite linear;
}

#resolucion {
	width: 100%;
}

#resolucion #cara{
    width: 103px;
    height: 98px;
    position: relative;
    margin: 0 auto;
    background-image:url(../images/face.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/******** BLOQUE MEDIDAS *********/

#medidas{
    width: 100%;
    height: 900px;
    background: url(../images/peces-bg.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#medidas #titulo{
    width: 745px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'gotham_boldregular', Arial, sans-serif;
    font-size: 32px;
    color: #000;
    background: #fff;
    text-align: center;
    line-height: 55px;
}

#medidas .btn{
    display: block;
    width: 190px;
    height: auto;
    margin-top: 15px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    line-height: 26px;
    border-radius: 2px;
    background: #fff;
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
}

#medidas .btn a{
   text-decoration: none;
   color: #000;
}

#medidas .btn a:hover{
   color: #33a9dc;
}

#medidas .btn:hover{
    color:#33a9dc;
}


#medidas #video-wrapper{
    width: 745px;
    height: 419px;
    margin: 17px auto;
}


#medidas #video-wrapper iframe{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #000;
}

#noticias {
    width: 100%;
    height: 1200px;
    background: url(../images/fondo-marino-bg.jpg); 
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#noticias #columnas-wrapper {
    clear: both;
    width: 670px;
    font-family: 'gotham_bookregular', Arial, sans-serif;
    margin: -35px auto;
}

#noticias #columnas-wrapper .btn-columna{
    display: block;
    width: 193px;
    height: auto;
    float: left;
    margin-top: 35px;
    margin-right: 30px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 26px;
    border-radius: 2px;
    background: #fff;
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	cursor: pointer;
}

#noticias #columnas-wrapper .btn-columna:hover{
    color:#33a9dc;
}

#noticias #columnas-wrapper .columna {
    width: 193px;
    float: left;
    margin-right: 30px;
    color: #fff; 
}

#noticias #columnas-wrapper .columna .fecha{
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#noticias #columnas-wrapper .columna .titular{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#noticias #columnas-wrapper .columna .body{
    display: block;
    font-size: 14px;
    line-height: 13px;
}

#noticias #columnas-wrapper .columna .link,
#noticias #columnas-wrapper .columna .link a{
    font-size: 12px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

#noticias #columnas-wrapper .columna .link a:hover{
    color: #000;
}

#cabecera-azul {
	width: 100%;
	height: 153px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 24px;
	line-height: 150px;
    color: #fff;
    padding-left: 20%;
    margin-top: -100px;
    margin-bottom: 50px;
	background: url(../images/cabecera-azul-bg.png) repeat; 
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;

	.transform-origin(50%, 50%);
}

#slider {
    width: 100%;
	margin
}

#slider #slides{
    width: 100%;
    margin-top: 50px;
}

#slider #slides-bg{
    width: 100%;
    height: 420px;
    position: absolute;
    margin-top: 400px;
    opacity: 0.5;
    background: url(../images/slides-bg.png) repeat; 
}

#slider #slides .producto{
    width: 900px;
    height: auto;
}

#slider #slides .producto .imagen{
    float: left;
    position: absolute;
}

#slider #slides .producto .texto{
    float: left;
    position: absolute;
	line-height: 20px;
}

#slider #slides .producto .texto b{
    color: #4caadf;
    font-family: 'gotham_boldregular', Arial, sans-serif;
}


#slider #nav-slider-wrapper{
    width: 100%;
    height: 96px;
}

#slider #nav-slider-wrapper .nav-slider{
    width: 658px;
    height: 96px;
    margin: 0 auto;
}


@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

#anzuelo {
	width: 43px;
	height: 108px;
	background-image:url(../images/cta-anzuelo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	-webkit-animation: oscillate-anzuelo 10s 0.1s infinite linear;
    -moz-animation: oscillate-anzuelo 10s 0.1s infinite linear;
    animation: oscillate-anzuelo 10s 0.1s infinite linear;
}

#hilo {
	width: 43px;
	height: 108px;
	margin-left: 47px;
	padding-top: 63px;
	background-image:url(../images/cta-hilo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	-webkit-animation: oscillate-hilo 10s 0.1s infinite linear;
    -moz-animation: oscillate-hilo 10s 0.1s infinite linear;
    animation: oscillate-hilo 10s 0.1s infinite linear;
}

@-webkit-keyframes oscillate-anzuelo {
    0% {
    -webkit-transform: rotate(-4deg);
    -webkit-transform-origin: top center;
    }
    50% {
    -webkit-transform: rotate(4deg);
    -webkit-transform-origin: top center;
    }
    100% {
    -webkit-transform: rotate(-4deg);
    -webkit-transform-origin: top center;
    }
}

@keyframes oscillate-anzuelo {
    0% {
    transform: rotate(-4deg);
    transform-origin: top center;
    }
    50% {
    transform: rotate(4deg);
    transform-origin: top center;
    }
    100% {
    transform: rotate(-4deg);
    transform-origin: top center;
    }
}

@-moz-keyframes oscillate-anzuelo {
    0% {
    -moz-transform: rotate(-4deg);
    -moz-transform-origin: top center;
    }
    50% {
    -moz-transform: rotate(4deg);
    }
    100% {
    -moz-transform: rotate(-4deg);
    }
}

@-webkit-keyframes oscillate-hilo {
    0% {
    -webkit-transform: rotate(-8deg);
    -webkit-transform-origin: top center;
    }
    50% {
    -webkit-transform: rotate(8deg);
    -webkit-transform-origin: top center;
    }
    100% {
    -webkit-transform: rotate(-8deg);
    -webkit-transform-origin: top center;
    }
}

@keyframes oscillate-hilo {
    0% {
    transform: rotate(-8deg);
    transform-origin: top center;
    }
    50% {
    transform: rotate(8deg);
    transform-origin: top center;
    }
    100% {
    transform: rotate(-8deg);
    transform-origin: top center;
    }
}

@-moz-keyframes oscillate-hilo {
    0% {
    -moz-transform: rotate(-8deg);
    -moz-transform-origin: top center;
    }
    50% {
    -moz-transform: rotate(8deg);
    }
    100% {
    -moz-transform: rotate(-8deg);
    }
}


/******** PÁGINA GRACIAS *********/

.titulo-gracias-wrapper{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.titulo-gracias-wrapper .titulo-gracias{
	max-width: 606px;
	width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

.titulo-gracias-wrapper .titulo-gracias img{
	width: 100%;
    height: auto;
}

#mar-gracias{
    width: 100%;
    height: 119px;
    background-image:url(../images/mar-gracias.png);
    background-repeat: repeat;
}

#gracias-sobre {
	background: #46a8da;
	display: none;
}

#gracias-supositorios {
	background: #46a8da;
	display: none;
}

#gracias-enjuague {
	background: #46a8da;
	display: none;
}

#gracias-crema {
	background: #46a8da;
	display: none;
}

#gracias-champu {
	background: #46a8da;
	display: none;
}

#gracias-suero {
	background: #46a8da;
	display: none;
}

.imagen-producto{
	text-align: center;	
}

.contenido {
	display: block;
	width: 100%;
	height:600px;
	background: #46a8da;
	padding-top: 2px;
}

.contenido .body {
	max-width: 625px;
	width: 90%;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
}

.contenido b {
	font-family: 'gotham_boldregular', Arial, sans-serif;
	font-weight: 16px;
}

.social {
	max-width: 625px;
	width: 100%;
	margin: 40px auto;
}

.share-facebook {
	display: inline-block;
	width: 180px;
	height: 43px;
	margin-left: 20px;
	background-image:url(../images/share-facebook.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.share-facebook:hover {
	background-position: 0px -43px;
}

.share-twitter {
	display: inline-block;
	width: 180px;
	height: 43px;
	margin-left: 20px;
	background-image:url(../images/share-twitter.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.share-twitter:hover {
	background-position: 0px -43px;
}

.share-gplus {
	display: inline-block;
	width: 180px;
	height: 43px;
	margin-left: 20px;
	background-image:url(../images/share-gplus.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.share-gplus:hover {
	background-position: 0px -43px;
}


.btn-volver{
	width: 100px;
	height: 26px;
	
	float: right;
	margin-top: 20px;
	margin-bottom: 25px;
	
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    
    border: 1px solid #fff;
    cursor: pointer;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(23%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	
    -webkit-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
}

.btn-volver:hover{
    background: #fff;
}


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}


/* Responsive */

@media screen and (max-device-width: 920px) {

	#menu {
		margin-top: -5px;
		right: 20px;
	}
	
	.titulo{
    	text-align: left;
	    margin-left: -20px;
	}
	
	.titulo-presentando{
	    text-align: left;
	    margin-left: -20px;
	}

	.desplegable-body {
		margin-left: 8%;
	}
	
	/* GRACIAS */

	.titulo-gracias-wrapper{
	    margin-top: 30px;
	}
	
	#contenido {
		display: block;
		width: 100%;
		height:600px;
		background: #46a8da;
		padding-top: 10px;
	}

	    
}