html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	width: 100%;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}

body {
	background: #eeeeee;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, #ffffff), color-stop(45%, #ffffff), color-stop(68%, #ffffff), color-stop(100%, #ebe6eb));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ebebeb 45%, #ffffff 68%, #ebe6eb 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 45%, #ffffff 68%, #ebe6eb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe6eb', GradientType=1 );
	background-attachment:fixed;
	overflow: visible;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham-bold-webfont.eot');
    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/******** BLOQUE INTRO, PRESENTACIÓN, MENÚ, CABECERAS Y AVISO *********/


/* AVISO */

#aviso-wrapper {
	width: 100%;
	height: 35px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	line-height: 33px;
	text-align: center;
}

#aviso-wrapper #aviso {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
}

#aviso a {
	color: #000;
	text-decoration: none;
	font-family: 'gotham_boldregular', Arial, sans-serif;
}

#aviso a:hover {
	color: #ccc;
}

.btn-cerrar {
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-top: 6px;
	float: right;
	right: 0px;
	background-image: url(../images/icon-cerrar.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.btn-cerrar:hover {
	background-position: 0px -23px;
}


/* MENÚ */

#menu {
	width: 146px;
	height: 200px;
	z-index: 9998;
	position: fixed; 
	right: 20px;
	top: 60px;
	display: block;
	text-align: center;
}

#navegacion-m {
	display: none;
	width: 100%;
	height: 30px;
	z-index: 9999;
	position: fixed;
	background: #000;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

.nav-text-m {
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 8px;
	display: inline-block;
	margin-right: 5px;
	color: #fff;
}

.btn-fb{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon-fb.png) no-repeat;
	background-position: 0px 0px;
}

.btn-fb:hover{
	background-position: 0px -22px;
}

.btn-twitter{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon-twitter.png) no-repeat;
	background-position: 0px 0px;
}

.btn-twitter:hover{
	background-position: 0px -22px;
}

.btn-gplus{
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 0;
	background: url(../images/icon-gplus.png) no-repeat;
	background-position: 0px 0px;
}

.btn-gplus:hover{
	background-position: 0px -22px;
}

.btn-pinterest{
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 0;
	background: url(../images/icon-pinterest.png) no-repeat;
	background-position: 0px 0px;
}

.btn-pinterest:hover{
	background-position: 0px -22px;
}

.btn-home{
	display: inline-block;
	width: 30px;
	height: 22px;
	background: url(../images/icon-home.png) no-repeat;
	background-position: 8px 0px;
	border-left: 1px solid #000;
}

.btn-home:hover{
	background-position: 8px -22px;
}

#menu #btn-unete{
	display: block;
	width: 146px;
	height: 47px;
	text-align: center;
	font-size: 13px;
	line-height: 23px;
	color: #fff;
	text-decoration: none;
	margin-top: 10px;
	background-image:url(../images/btn-unete.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#menu #btn-unete:hover{
	color: #fff;
	background-position: 0px -47px;
}

#navegacion {
	display: block;
	width: 100%;
	height: 50px;
	bottom: 0;
	text-align: center;
	position: fixed;
	z-index: 9998;
	background: #000;
}

#navegacion .nav-home{
	width: 100px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	background-image: url(../images/ico-home.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-home:hover{
	background-position: 30px -50px;
}

#navegacion .nav-problema{
	width: 100px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	background-image: url(../images/ico-lupa.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-problema:hover{
	background-position: 30px -50px;
}


#navegacion .nav-tratamiento{
	width: 100px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	background-image: url(../images/ico-pastilla.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-tratamiento:hover{
	background-position: 30px -50px;
}

#navegacion .nav-unete{
	width: 100px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	background-image: url(../images/ico-lapiz.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-unete:hover{
	background-position: 30px -50px;
}

#navegacion .nav-medidas{
	width: 100px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	background-image: url(../images/ico-pez.png);
	background-repeat: no-repeat;
	background-position: 30px 0px;
}

#navegacion .nav-medidas:hover{
	background-position: 30px -50px;
}


#navegacion-roll {
	width: 146px;
	height: 200px;
	right: 130px;
	text-align: center;
}

#navegacion-roll .nav-text{
	width: 100%;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	cursor: pointer;
	text-align: right;
	font-family: 'gotham_boldregular', Arial, sans-serif;
}

#navegacion-roll #nav-r-home{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-problema{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-tratamiento{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-unete{
	visibility: hidden;
	opacity: 0;
}

#navegacion-roll #nav-r-medidas{
	visibility: hidden;
	opacity: 0;
}



/* INTRO VIDEO */

#intro {
	width:100%;
	height: auto;
	top:35px;
	text-align: center;	
}

#intro .video-wrapper{
	width: 100%;
	height: 430px;
	background: #000;
	text-align: center;
	border-bottom: 7px solid #000;
}

#intro .video-wrapper iframe,
#intro .video-wrapper object,
#intro .video-wrapper embed {
    max-width: 1080px;
    max-height: 580px;
    width: 100%;
    height: 100%;
}


/* NUBES */

#presentacion{
	width: 100%;
	height: 570px;
	margin-top: -70px;
}

#nube-lite-d-1{
    max-width: 277px;
    width: 40%;
    height: auto;
    position: absolute;
    float: right;
    right: 9%;
}

#nube-lite-d-1 img{
    width: 100%;
    height: auto;
}

#nube-lite-d-2{
    max-width: 374px;
    width: 40%;
    height: auto;
    float: right;
    position: absolute;
    margin-top: 336px;
    right: 5%;
}

#nube-lite-d-2 img{
    width: 100%;
    height: auto;
}

#nube-lite-i-1{
    max-width: 195px;
    width: 40%;
    height: auto;
    float: left;
    position: absolute;
    margin-top: 66px;
    left: 8%;
}

#nube-lite-i-1 img{
    width: 100%;
    height: auto;
}

#nube-lite-i-2{
    max-width: 299px;
    width: 40%;
    height: auto;
    float: left;
    position: absolute;
    margin-top: 390px;
    left: 5%;
}

#nube-lite-i-2 img{
    width: 100%;
    height: auto;
}


/* CABECERAS */

#presentacion .titulo-wrapper{
    width: 100%;
    height: auto;
    float: left;
    position: absolute;
    margin-top: 220px;
}

#presentacion .titulo-wrapper .titulo{
	width: 60%;
    height: auto;
    margin-left: 20%;
    text-align: left;
}

#presentacion .titulo-wrapper .titulo img{
	width: 100%;
    height: auto;
}


.titulo-cab{
    width: 100%;
    height: 130px;
    padding-top: 15px;
    text-align: center;
    background: #fff;
}



/******** BLOQUE RETRATO, MAR Y MEMORIA DE PEZ *********/

.mar-olas{
	width: 100%;
    height: 102px;
    background-image:url(../images/olas-lite.png);
	background-repeat: repeat;
	z-index: 50;
}

#retrato {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;  
    background: #51a8da;
}

#retrato #foto{
    width: 182px;
    height: 181px;
    position: relative;
    margin: 0 auto;
    background-image:url(../images/arias-foto-1.png);
	background-repeat: no-repeat;
}

#retrato .body-wrapper,
#resolucion .body-wrapper,
#slider .body-wrapper{
    width: 94%;
    height: auto;
    position: relative;
    text-align: center;
    padding: 3%;
}

#retrato .body-wrapper .body,
#resolucion .body-wrapper .body{
    width: 100%;
    height: auto;
    font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
}

#retrato #pez-pregunta{
    width: 171px;
    height: 87px;
    margin: 60px auto;
    margin-bottom: 10px;
	background-image:url(../images/retrato-pez-pregunta.png);
	background-repeat: no-repeat;
}

#retrato #pez-respuesta{
    width: 171px;
    height: 87px;
    margin: 40px auto;
    margin-bottom: 10px;
	background-image:url(../images/retrato-pez-respuesta.png);
	background-repeat: no-repeat;
}

.desplegable-btn {
	width: 150px;
	height: 35px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 0px;
	background-image:url(../images/btn-plus.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor:  pointer;
}

.desplegable-btn:hover {
	background-position: 0px -35px;
}

.desplegable-body {
	display: none;
	width: 90%;
	height: auto;
	
    border-radius: 8px;
    border: 1px solid #fff;
    padding-bottom: 5%;
    margin-top: -250px;
    margin-left: 2%;
    position: absolute;
    text-align: left;
    opacity: 0;
    
    background: #f1f1f1;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    
    -webkit-box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
}

.desplegable-text {
	display: inline-block;
	width: 42%;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #000;
    font-size: 11px;
    line-height: 18px;
    margin-top: 2%;
	margin-left: 5%;
	text-align: justify;
}

.desplegable-icono-1 {
	display: inline-block;
	width: 25%;
	height: 70px;
	margin-left: 4%;
	background-image:url(../images/desplegable-icono-1.png);
	background-repeat: no-repeat;
}

.desplegable-icono-1 img{
	width: 100%;
	height: auto;
}

.desplegable-icono-2 {
	display: inline-block;
	width: 25%;
	height: 70px;
	margin-left: 2%;
	background-image:url(../images/desplegable-icono-2.png);
	background-repeat: no-repeat;
}

.desplegable-titulo {
	display: inline-block;
	width: 70%;
	font-family: 'gotham_boldregular', Arial, sans-serif;
	font-size: 22px;
	text-align: left;
	line-height: 20px;
}

.desplegable-cerrar {
	width: 19px;
	height: 19px;
	float: right;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 0;
	padding: 0;
	background-image:url(../images/btn-cerrar.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.desplegable-cerrar:hover {
	background-position: 0px -19px;
}



/******** BLOQUE PRODUCTOS *********/


#slider-wrapper {
    width: 99%;
    margin: 0 auto;
    padding-top: 50px;
}

#slider-wrapper.titulo-wrapper{
    width: 100%;
    height: auto;
    float: left;
    position: absolute;
    margin-top: 30px;
}

#slider-wrapper .titulo-wrapper .titulo{
	width: 60%;
    height: auto;
    margin-left: 20%;
    text-align: left;
}

#slider-wrapper .titulo-wrapper .titulo img{
	width: 100%;
    height: auto;
}

#slider #slides-bg{
    width: 100%;
    height: 420px;
    position: absolute;
    margin-top: 400px;
    opacity: 0.5;
    background: url(../images/slides-bg.png) repeat; 
}

#carousel-wrapper {
    width:450px;
    margin: 30px auto;
}

.desplegable-recordar-btn {
	width: 150px;
	height: 35px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    margin: 30px auto;
	background-image:url(../images/btn-plus.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.desplegable-recordar-btn:hover {
	background-position: 0px -35px;
}

.desplegable-recordar-body {
	display: none;
	width: 90%;
	height: auto;
	
    border-radius: 8px;
    border: 1px solid #fff;
    padding-bottom: 5%;
    margin-top: -290px;
    margin-left: 2%;
    position: absolute;
    text-align: left;
    opacity: 0;
    z-index: 90;
    
    background: #f1f1f1;
    background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    
    -webkit-box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 31px 0px rgba(0,0,0,0.75);
}



/******** BLOQUE ÚNETE, FORMULARIO *********/

#resolucion {
	width: 100%;
	padding-top: 30px;
	background: #51a8da;
}

#resolucion .body-wrapper #cara-sonriente{
    width: 103px;
    height: 98px;
    position: relative;
    margin: 50px auto;
    margin-bottom: 30px;
    background-image:url(../images/face-smile.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#resolucion .body-wrapper #cara-triste{
    width: 103px;
    height: 98px;
    position: relative;
    margin: 20px auto;
    margin-bottom: 30px;
    background-image:url(../images/face-sad.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#unete {
    width: 100%;
    margin-top: 55px;
    background: #51a8da;
}

/* FORMULARIO */

.formulario-msg {
    width: 100%;
    height: 0;
    margin: -424px auto;
}

.ventana {
    z-index: 90;
    position: absolute;
    opacity: 0;
    margin-left: 135px;
}

.ventana-msg {
	width: 260px;
    height: auto;
    font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 11px;
    color: #fff;
    padding: 10px;
    background: #000;
    text-transform: uppercase;
    text-align: center;
}

.ventana-flecha {
	width: 18px;
	height: 15px;
	margin-left: 15px; 
    background-image: url(../images/msg-flecha.png);
    background-repeat: no-repeat;
	background-position: 0px 0px;
}

#firmasMemoriaDePez {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#firmasMemoriaDePez .btn{
	width: 100px;
	height: 26px;
	
	float: right;
	margin-bottom: 25px;
	
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    
    border: 1px solid #fff;
    cursor: pointer;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(23%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	
    -webkit-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
}

#firmasMemoriaDePez .btn:hover{
    background: #fff;
}

#EligeTratamiento {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

#EligeTratamiento legend,
#unete .subtitulo{
	clear: both;
	width: 100%;
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #fff;
    font-size: 21px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
        
#EligeTratamiento label {
	display: inline-block;
	width: 70px;
	height: 20px;
	cursor: pointer;
	position: relative;
	margin-top: 20px;
	padding-top: 75px;
	padding-left: 5px;
	padding-bottom: 0px;
	margin-right: 8px;
	text-align: left;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 12px;
}

.sobres {
	background: url(../images/f-producto-2.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.supositorios {
	background: url(../images/f-producto-1.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.enjuague {
	background: url(../images/f-producto-2.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.crema {
	background: url(../images/f-producto-3.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.champu {
	background: url(../images/f-producto-5.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}

.suero {
	background: url(../images/f-producto-6.png);
	background-repeat: no-repeat;
	background-position: 7px 0px;
}


#TratamientoUsuario {
	width: 38%;
	float: left;
	margin: 0;
	padding: 0;
}

#TratamientoUsuario label {
	display: block;
	width: 100%;
	cursor: pointer;
	position: relative;
	margin-top: 15px;
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #fff;
	font-size: 14px;
}

#TratamientoUsuario input {
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 5px;
	padding-left: 25px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 14px;
	border: 1px solid #fff;
	background: #fff;
	background-color: rgba(255,255,255,0.1);
	border-radius: 0;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #fff;
}
*:-moz-placeholder {
  color: #fff;
}
*:-ms-input-placeholder { /* IE10+ */
  color: #fff;
}  

.end-form{
	display: block;
	width: 100%;
	margin-top: 25px ;
	padding: 0;
}

.privacidad {
	margin-top: 30px;
}

.privacidad label {
	display: inline;
	max-width: 260px;
	width: 100%;
	height: 20px;
	color: #fff;	
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
.privacidad input{
	display: inline;
	width:20px;
	height:15px;
	margin: 0;
	padding: 0;
}

#consulta {
	clear: both;
	display: block;
	width: 250px;
	float: left;
	cursor: pointer;
	position: absolute;
	margin-top: 5px;
	margin-left: 25px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 13px;
}

#consulta a {
    color: #fff;
}

#consulta a:hover {
    color: #000;
}

#peticion {
	max-width: 320px;
	width: 48%;
	float: right;
	font-family: 'gotham_bookregular', Arial, sans-serif;
    color: #fff;
	font-size: 13px;
	padding: 5px 15px 5px 15px;
	margin-top: 34px;
	margin-left: 20px;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.1);
}


/******** BLOQUE MEDIDAS *********/

#medidas{
    width: 100%;
    background: url(../images/peces-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#medidas .titulo-wrapper{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background: #fff;
}

#medidas .titulo-wrapper .titulo{
	width: 60%;
    height: auto;
    margin-left: 20%;
    padding-bottom: 30px;
    text-align: left;
}

#medidas .titulo-wrapper .titulo img{
	width: 100%;
    height: auto;
}

#medidas #titulo{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'gotham_boldregular', Arial, sans-serif;
    font-size: 30px;
    color: #000;
    background: #fff;
    text-align: center;
    line-height: 55px;
}

#medidas .wrapper-btn {
	height: 120px;
	text-align: center;
}

#medidas .wrapper-btn .btn{
    display: inline-block;
    width: 190px;
    height: auto;
    margin-top: 15px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 26px;
    border-radius: 2px;
    background: #fff;
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
}

#medidas .wrapper-btn .btn:hover{
    color:#33a9dc;
}

#medidas .btn a{
   text-decoration: none;
   color: #000;
}

#medidas .btn a:hover{
   color: #33a9dc;
}

#medidas #video-wrapper{
    width: 90%;
    height: 380px;
    margin: 17px auto;
}


#medidas #video-wrapper iframe{
    max-width: 1080px;
    max-height: 380px;
    width: 100%;
    height: 100%;
    border: 0;
    background: #000;
}



/******** BLOQUE NOTICIAS *********/

#cabecera-azul {
	width: 90%;
	height: 153px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 24px;
	line-height: 150px;
    color: #fff;
    padding-left: 10%;
    margin-top: -40px;
    margin-bottom: 0px;
	background: url(../images/cabecera-azul-bg.png) repeat; 
}

#noticias {
    width: 100%;
    height: 600px;
    background: url(../images/fondo-marino-bg.jpg); 
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#noticias #columnas-wrapper {
    clear: both;
    width: 90%;
    font-family: 'gotham_bookregular', Arial, sans-serif;
    margin: -35px auto;
    padding-top: 35px;
}

#noticias #columnas-wrapper .btn{
    width: 30%;
    height: auto;
    float: left;
    margin-top: 35px;
    margin-right: 3%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 26px;
    border-radius: 2px;
    background: #fff;
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%, #E1E1E1 100%);
}

#noticias #columnas-wrapper .btn:hover{
    color:#33a9dc;
}

#noticias #columnas-wrapper .columna {
    width: 30%;
    float: left;
    margin-right: 3%;
    color: #fff; 
}

#noticias #columnas-wrapper .columna img {
    width: 100%;
    height: auto;
}

#noticias #columnas-wrapper .columna .fecha{
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#noticias #columnas-wrapper .columna .titular{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#noticias #columnas-wrapper .columna .body{
    display: block;
    font-size: 14px;
    line-height: 13px;
}

#noticias #columnas-wrapper .columna .link,
#noticias #columnas-wrapper .columna .link a{
    font-size: 12px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

#noticias #columnas-wrapper .columna .link a:hover{
    color: #000;
}

.mar-olas-bt{
	width: 100%;
    height: 102px;
    position: absolute;
    background-image:url(../images/olas-lite-bt.png);
	background-repeat: repeat;
	z-index: 50;
	margin-top: -110px;
}


#intro .arrows {
	font-size:2em;
	color:#09f;
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;

	.transform-origin(50%, 50%);
}


#anzuelo {
	width: 43px;
	height: 108px;
	background-image:url(../images/cta-anzuelo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#hilo {
	width: 43px;
	height: 108px;
	margin-left: 47px;
	padding-top: 63px;
	background-image:url(../images/cta-hilo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}


#mar-gracias{
    width: 100%;
    height: 119px;
    background-image:url(../images/mar-gracias.png);
    background-repeat: repeat;
}

#contenido {
	display: block;
	width: 100%;
	height:600px;
	background: #46a8da;
	padding-top: 60px;
}

#contenido .body {
	width: 625px;
	font-family: 'gotham_bookregular', Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
}

#contenido b {
	font-family: 'gotham_boldregular', Arial, sans-serif;
	font-weight: 16px;
}

.social {
	width: 625px;
	margin: 40px auto;
}

.share-facebook {
	display: inline-block;
	width: 243px;
	height: 58px;
	margin-left: 40px;
	background-image:url(../images/share-facebook.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.share-facebook:hover {
	background-position: 0px -58px;
}

.share-twitter {
	display: inline-block;
	width: 243px;
	height: 58px;
	margin-left: 40px;
	background-image:url(../images/share-twitter.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.share-twitter:hover {
	background-position: 0px -58px;
}

.btn-volver{
	width: 100px;
	height: 26px;
	
	float: right;
	margin-top: 20px;
	margin-bottom: 25px;
	
	font-family: 'gotham_boldregular', Arial, sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    
    border: 1px solid #fff;
    cursor: pointer;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(23%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 23%, rgba(226,226,226,1) 100%);
	
    -webkit-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
	box-shadow: 1px 1px 31px 0px rgba(0,0,0,0.45);
}

.btn-volver:hover{
    background: #fff;
}


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}


/* Responsive */

@media screen and (max-device-width: 500px) {

	/* INTRO, PRESENTACIÓN */
	
	#menu {
		display: none;
	}
	
	#navegacion-m {
		display:block;
	}
	
	.nav-text-m {
		
	}
	
	#navegacion {
		display: none;
	}
	
	#aviso-wrapper {
		height: 10px;
		margin-top: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	#aviso-wrapper #aviso {
		width: 90%;
		font-size: 6px;
		line-height: 13px;
		text-align: center;
	}

	#intro .video-wrapper{
		height: 180px;
	}
	
	#presentacion{
		height: 250px;
	}
	
	#nube-lite-d-1{
	    width: 30%;
	    height: auto;
	    margin-top: 10px;
	}

	#nube-lite-d-2{
	    width: 30%;
	    height: auto;
	    margin-top: 156px;
	}
	
	
	#nube-lite-i-1{
		width: 30%;
	    height: auto;
	    margin-top: 26px;
	}
	
	
	#nube-lite-i-2{
	    margin-top: 160px;
	}
	
	#presentacion .titulo-wrapper{
	    margin-top: 100px;
	}
	
	#presentacion .titulo-wrapper .titulo{
		width: 70%;
	    height: auto;
	    margin-left: 15%;
	    text-align: left;
	}
	
	/* RETRATO */
	
	#retrato .body-wrapper .body,
	#resolucion .body-wrapper .body{
	    font-size: 14px;
	    line-height: 15px;
	}
	
	#retrato #pez-pregunta{
    	margin: 20px auto;
    	margin-bottom: 3px;
	}
	
	#retrato #pez-respuesta{
	    margin: 20px auto;
	    margin-bottom: 3px;
	}
	
	.desplegable-text {
		width: 90%;
		font-family: 'gotham_bookregular', Arial, sans-serif;
	    color: #000;
	    font-size: 11px;
	    line-height: 12px;
	}
	
	.desplegable-titulo {
		display: inline-block;
		width: 70%;
		font-family: 'gotham_boldregular', Arial, sans-serif;
		font-size: 18px;
		text-align: left;
		line-height: 20px;
	}
	
	/* PRODUCTOS */
	
	#carousel-wrapper {
	    width:250px;
	    margin: 0 auto;
	}  
	
	#slider-wrapper {
    	padding-top: 20px;
	}
	
	/* ÚNETE */
	
	.titulo-wrapper-unete{
	    margin-top: 50px;
	    margin-bottom: 30px;
	}
	
	#EligeTratamiento label {
		width: 68px;
		margin-right: 1px;
	}
	
	#firmasMemoriaDePez {
		width: 100%;
	}
	
	#TratamientoUsuario {
		width: 80%;
		float: none;
		margin-top: 25px ;
		margin-left: 5%;
		padding: 0;
	}
	
	#peticion {
		width: 80%;
		float: none;
		margin: 30px auto;
	}
	
	.end-form{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	
	#firmasMemoriaDePez .btn{
		float: right;
		margin-top: 30px;
		margin-bottom: 25px;
	}
	
	.ventana {
	    margin-left: 35px;
	}
	
	/* MEDIDAS */
	
	#medidas #titulo{
	    font-size: 20px;
	    line-height: 20px;
	    padding-top: 8px;
	    padding-bottom: 10px;
	}
	
	#medidas #video-wrapper{
	    height: 160px;
	}
	
	/* NOTICIAS */
	
	#noticias {
    	width: 100%;
    	height: auto;
		background: #51a8da;
		padding-bottom: 40px;
	}
	
	#noticias #columnas-wrapper .columna {
	    width: 80%;
	    float: none;
	    color: #fff; 
	    margin: 30px auto;
	    margin-bottom: 20px;
	}
	
	#noticias #columnas-wrapper .btn{
	    width: 80%;
	    height: auto;
	    float: none;
	    margin-right: 0;
	    margin: 10px auto;
	    margin-bottom: 30px;
	}	
 
}