/* -------------------- VIDEO -------------------- */

video {
    width: 100%;
    cursor: pointer;
}

.video-outside {
    padding: 5px;
    border: 1px dotted #999;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
    margin-bottom: -15px;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 93%;
}

.video #videohosted {
    display: block;
}

.no-video #videohosted {
    display: none;
}

.video #videoyoutube {
    display: none;
}

.novideo #videoyoutube {
    display: block;
}


/* -------------------- LOGO + VIDEO MENU AREA -------------------- */

.logoarea {
    margin: 1.6em 0 1em 0;
}

.menump {
    border: 2px solid rgb(236,236,236);    
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

.viewed {
    border-color: rgb(233,38,22);

}

/* -------------------- GENERAL -------------------- */

header {
    margin-bottom: 20px;
}

footer {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 span {
    color: #33a9dc;    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 span {
    color: #33a9dc;    
}

h3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    color: #33a9dc;
}

h4 {
    font-size: 14px;
}

a {
    color: #33a9dc;    
}

.alert {
    margin-bottom: 3px;
}

.btn-primary {
    background-color: #33a9dc;
    border-color: #33a9dc;
}

.well {
    border: 1px dotted #999;
    background-color: #f6f9fa;
}

.greenlogo {
    margin-top: 10px;
}

.help-block ul, .help-block li {
  color: #f00;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.footer-space {
    margin-bottom: 30px;
}

.logoproj {
    width: 60px;
}

.centerLogo {
    margin: 1em 0 1em 0;
}

.spaced {
    margin: 2em 0 1em 0;
}

/* -------------------- RESPONSIVE -------------------- */

/* --- 600px and up --- */

@media (min-width: 600px ) {

    h1 {
       font-size: 26px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }
    
    label {
        font-size: 16px;
        margin-top: 7px;
        margin-bottom: 9px;
    }
    
    .footer-space {
        margin-bottom: 40px;
    }

    .logoproj {
        width: 80px;
    }

    .menump {
        padding: 15px 0 15px 0;    
    }
    
}

/* --- 768px and up --- */

@media (min-width: 768px ) {

    h1 {
       font-size: 29px;
       line-height: 38px;
    }
    
    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 16px;
    }
    
    label {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 12px;
    }

    p {
        font-size: 20px;
    }
    
    .footer-space {
        margin-bottom: 45px;
    }
    
    .logoproj {
        width: 90px;
    }

    .centerLogo {
        margin: 2em 0 1em 0;
    }

    .menump {
        padding: 15px 0 15px 0;    
    }
    
}

/* --- 992px and up --- */

@media (min-width: 992px ) {

    h1 {
       font-size: 39px;
       line-height: 55px;
    }

    h2 {
        display: block;
        padding-top: 0;
        font-size: 35px;
        line-height: 63px;
        margin-top: 10px;
    }

    .greenlogo {
        width: 200px;
        margin-top: 37px;
    }

    .logoproj {
        width: 100px;
    }

    .menump {
        padding: 25px 0 25px 0;    
    }    
}

/* --- 1200px and up --- */

@media (min-width: 1200px ) {
    h1 {
       font-size: 39px;
       line-height: 55px;
    }

     h2 {
        display: block;
        padding-top: 0;
        font-size: 32px;
        line-height: 63px;
        margin-top: 10px;
    }

}
